<ion-header>
  <ion-toolbar>
    <button class="arrow-back" routerLink="/pago" slot="start" >
      <ion-icon name="arrow-back" align="left" large></ion-icon>
    </button>
    <ion-title align="center">Mantenimiento de Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="primary">
        <img src="assets/azul.jpg"/>
        <ion-card-content>
            <ion-card-title align="center">¡Haz tu cambio de correo electronico!</ion-card-title>
        </ion-card-content>
    </ion-card>

  <ion-item>
    <ion-label position="floating">Correo Actual</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>   
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nuevo correo electronico</ion-label>
    <ion-input type="email" [(ngModel)]="nuevoCorreo"></ion-input>   
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>   
  </ion-item>

  <ion-button expand="block" color="medium"(click)="changeEmail()">Actualizar</ion-button>
</ion-content>
