<ion-header>
  <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start" >
        <ion-icon name="arrow-back" align="left" large></ion-icon>
      </button>
    <ion-title align="center" color="primary">Tipo de Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card color="medium">
    <img [src]="productoSeleccionado.img"/>
    <ion-card-content>
      <ion-card-title>{{productoSeleccionado.name}}</ion-card-title>
      <p>{{productoSeleccionado.descripcion}}</p>
      <p>{{productoSeleccionado.precioDolares}}$</p>
      <p>{{productoSeleccionado.precioBtc}}Btc</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header class="tamaño">Seleccione Cantidad de Productos</ion-list-header>
    <ion-item>
        <ion-label class="tamaño1">Cantidad</ion-label>
       <ion-select #newSelect [(ngModel)]="cantidad" (change)="onChange(cantidad)" color="primary">
          <ion-select-option *ngFor="let user of users1" >{{user.first1 + ' ' + user.last1}}</ion-select-option>
        </ion-select>
    </ion-item>
    </ion-list>
    <br>
    <ion-button expand="block" color="primary" (click)="pagoBtc()">PAGAR CON BTC</ion-button>
    <ion-button expand="block" color="primary" (click)="pagoMercantil()">PAGAR CON BANCO MERCANTIL</ion-button>
    <ion-button expand="block" color="primary" (click)="pagoBancoVenezuela()">PAGAR CON BANCO VENEZUELA</ion-button>
  </ion-content>
    <!-- <ion-item>
        <ion-label>Forma de Pago</ion-label>
        <ion-select placeholder="Selecciona">
          <ion-select-option value="f" (click)="criptomoneda()">Criptomoneda</ion-select-option>
          <ion-select-option value="m" (click)="nacionalMoneda()">Moneda Nacional (Bs.)</ion-select-option>
        </ion-select>
      </ion-item> -->