<ion-header>
  <ion-toolbar>
    <button class="arrow-back" routerLink="/" slot="start" >
      <ion-icon name="arrow-back" align="left" large></ion-icon>
    </button>
    <ion-title align="center">Consulta tu Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/consultalogo.png"/>
    <ion-card *ngFor="let comprobante of comprobantes" color="primary"> <br>
        
      <ion-card-content>
          <ion-card-title>{{comprobante.razonSocial}}</ion-card-title>
          <p>Numero comprobante: {{comprobante.numero}}</p>
          <p>Status: {{comprobante.status == 1 ? "Aprobado" : "Pendiente"}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>