<ion-header>
  <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start" >
        <ion-icon name="arrow-back" align="left" large></ion-icon>
      </button>
    <ion-title align="center">CRIPTOMONEDA BTC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="secondary">
      <img src="assets/wallet.png"/>
      <ion-card-content>
        <ion-card-title>Billetera de BTC</ion-card-title>
        <p>Direccion: 3JypMzZdr9C1gXHrmpYf892XZLNS8Pm8Zs</p>
        <p>
            producto: {{producto.name}}<br>
            cantidad: {{cantidad}} <br>
            precio: {{precio}} BTC <br>
        </p>
      </ion-card-content>
      <ion-button expand="block" color="tertiary" (click)="reportarPago()">REPORTAR PAGO</ion-button>
    </ion-card>
</ion-content>
