.boton{
    font-size: 50px;
    color: orange;
}
.icon{
    font-size: 100px;
    color: rgb(43, 29, 4);
}
.active.item{
    border-left: 8px solid var(--ion-color-primary);
}


.bar bar-subheader{

    top:198px;
    left:365px;
    width:62px;
    height:51px;
    color:white;
    position:absolute;
    text-align:center;
    background-color:black;
    
}
