    <ion-header>
      <ion-toolbar>
          <ion-menu-button menu="primer">
              <ion-button slot="start">
                  <ion-menu-button menu="primer" side="left"></ion-menu-button>
              </ion-button>
            </ion-menu-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-menu contentId="content" menuId="primer">
      <ion-list>
        <ion-menu-toggle auto-hide="false" 
        *ngFor="let p of pages" 
        menuId="primer"
        >
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active.item]="selectedPath === p.url">
            {{ p.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-menu>
    <ion-card color="primary"><br>
      <img src="assets/logovam.png"/>
      <ion-card-content>
        <ion-card-title align="center">BIENVENIDO A VIM</ion-card-title>
        <h3 >La aplicacion de venta de productos alimenticios</h3>
        <h4 center>Paga con Criptomonedas o Bolivares</h4>
      </ion-card-content>
    </ion-card>
    <ion-card color="primary">
        <ion-card-content>
          <ion-card-title align="center">COMPARTE!</ion-card-title>
          <h3 align="center">¡Ayuda a VIM, Comparte en las redes!</h3>
          <h4 align="center">Estamos en Instagram!</h4>
        </ion-card-content>
      </ion-card>
    <ion-card color="primary">
      <ion-card-content>
        <ion-card-title align="center">METODOS DE PAGO</ion-card-title>
        <h3 align="center">¡Ahora paga con Criptomonedas!</h3>
        <h4 align="center">Proximamente: Paypal Rest Api</h4>
      </ion-card-content>
    </ion-card>

    <!--ion-card>
        <img src="assets/consultalogo.png"/>
        <ion-card-content>
          <ion-card-title>Por favor Ingrese Numero de Comprobante Pago</ion-card-title>
          <ion-item>
              <ion-label position="floating">Numero de Comprobante</ion-label>
              <ion-input type="text"></ion-input>
          </ion-item><br>
          <ion-button color="secondary" expand="block" (click)="comprobante()">Consultar Pedido</ion-button> 
        </ion-card-content>
      </ion-card-->
  </ion-content>
  <ion-router-outlet id="content" main></ion-router-outlet>



