<ion-header>
  <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start" >
        <ion-icon name="arrow-back" align="left" large></ion-icon>
      </button>
    <ion-title align="center">CATALOGO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card *ngFor="let producto of productos" color="secondary">
  <img [src]="producto.img"/>
  <ion-card-content>
    <ion-card-title>{{producto.name}}</ion-card-title>
    <p>{{producto.descripcion}}</p>
    <p>{{producto.precioDolares}}$</p>
    <p>{{producto.precioBtc}}BTC</p>
  </ion-card-content>
  <ion-button expand="block" class="pagar" color="tertiary" (click)="pagar(producto)">PAGAR</ion-button>
</ion-card>

</ion-content>

<!-- 
<ion-content>
<ion-list no-lines [virtualScroll]="my_prg" aproxItemHeight="40px">
    <ion-item *virtualItem="let item">
        <div item-left [style.background-color]="item.color" style="width:60px;height:60px;border-radius: 50%;">
          <h4>{{item.name}}</h4>
        </div>
        <button ion-item>{{item.heading}}</button>
    </ion-item>
</ion-list>
</ion-content> -->
