<ion-header>
  <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start" >
        <ion-icon name="arrow-back" align="left" large></ion-icon>
      </button>
    <ion-title align="center">PAGO MERCANTIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="primary">
      <img src="assets/mercantil.jpg"/>
      <ion-card-content>
        <ion-card-title>BANCO MERCANTIL</ion-card-title>
        <P>
          Nro Cuenta: 01350000000012122232.<br>
          Cedula: V26484572 <br>
          Titular: JOHAM GUILARTE (CEO VIM)
          Producto: Cuenta Corriente
        </P>

        <p>
            producto: {{producto.name}}<br>
            cantidad: {{cantidad}}
            precio: {{precio}} Bs<br>
        </p>
      </ion-card-content>
      <ion-button expand="block" color="tertiary" (click)="reportarPago()">REPORTAR PAGO</ion-button>
    </ion-card>
</ion-content>
