
<ion-header>
    <div class="titulo">
    <ion-toolbar color="primary" >
      <ion-title align="center">Login </ion-title>
    </ion-toolbar>
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card color="medium">
        <img src="assets/login.png"/>
        <ion-card-content>
            <ion-card-title align="center">¡Haz tus compras de productos alimenticios aqui!</ion-card-title>
        </ion-card-content>
    </ion-card>

   <ion-item>
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>   
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
  </ion-item>
  <br>
       <ion-button expand="block" (click)="onLogin()">Aceptar</ion-button>
      <ion-button expand="block" routerLink="/register">Afiliate aqui</ion-button>
      <ion-button expand="block" (click)="olvido(user.email)" text-center>Olvido Contraseña</ion-button><hr>
  </ion-content>
