<ion-header>
    <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start">
        <ion-icon name="arrow-back" align="left" default></ion-icon>
      </button>
      <ion-title align="center">REPORTE DE COMPRA</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-card color="primary">
          <ion-card-title align="center">Datos de Pago</ion-card-title>
          <ion-card-content align="center">
            <h4>"Recuerde que su pago tiene un proceso de verificacion de 24 horas."</h4>
          </ion-card-content>
      </ion-card> <br>
      <ion-item>
          <ion-label position="floating">Nombre de Empresa: </ion-label>
          <ion-input type="text" [(ngModel)]="form.nombre"></ion-input>
      </ion-item>
      <br>
      <ion-item>
          <ion-label position="floating">Rif de la Empresa</ion-label>
          <ion-input type="text" [(ngModel)]="form.rif"></ion-input>
      </ion-item>
      <br>
      <ion-item>
          <ion-label position="floating">Telefono de Contacto</ion-label>
          <ion-input type="text" [(ngModel)]="form.telefono"></ion-input>
      </ion-item>
      <br>
      <ion-item>
          <ion-label position="floating">Numero de Comprobante</ion-label>
          <ion-input type="text" [(ngModel)]="form.numeroComprobante"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button color="tertiary" expand="block" (click)="reportar()">Reportar Pago</ion-button> 
  
    </ion-content>
  