<ion-header>
  <div class="titulo">
  <ion-toolbar color="primary" >
    <ion-title align="center">Registro de Usuario</ion-title>
  </ion-toolbar>
</div>
</ion-header>

<ion-content padding>
    <ion-card color="medium">
        <img src="assets/login.png"/>
        <ion-card-content>
            <ion-card-title>¡Haz tus compras de productos alimenticios aqui!</ion-card-title>
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-label position="floating">Correo Electronico</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>   
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
      </ion-item>

    <ion-button expand="block" (click)="onRegister()">Registrar Usuario</ion-button>
    <ion-button expand="block" routerLink="/login">Salir</ion-button>


</ion-content>
