<ion-header>
  <ion-toolbar>
      <button class="arrow-back" routerLink="/" slot="start" >
        <ion-icon name="arrow-back" align="left" large></ion-icon>
      </button>
    <ion-title align="center">PAGO DESDE BANCO DE VENEZUELA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="danger">
      <img src="assets/venezuela.jpg"/>
      <ion-card-content>
        <ion-card-title>BANCO DE VENEZUELA</ion-card-title>
        <P>
          Nro Cuenta: 01020000000012122232<br>
          Cedula: V26484572 <br>
          Titular: JOHAM GUILARTE (CEO VIM)<br>
          Producto: Cuenta Ahorro
        </P>
          
        <p>
          producto: {{producto.name}}<br>
          cantidad: {{cantidad}}
          precio: {{precio}}Bs <br>
        </p>
      </ion-card-content>
      <ion-button expand="block" color="tertiary" (click)="reportarPago()">REPORTAR PAGO</ion-button>
    </ion-card>
</ion-content>
